@use '../../Foundation/variables' as *;

.root {
  background: $primary-light;
  border-radius: 4px;
  padding: 0.6rem;
  margin: 1rem auto;
  color: #ffffff;
  h2 {
    font-weight: bold;
    margin-bottom: 0.6rem;
  }
}
