@use '../../Foundation/variables' as *;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;
}
.disable,
.able {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 1rem auto;
}
.disable {
  .share {
    display: none;
  }
}
.able {
  .share {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $primary;
    width: 100%;
    border-radius: 4px;
    padding: 0.6rem;
    h2 {
      font-weight: bold;
      display: flex;
      justify-content: center;
      margin: 1rem;
      &:before,
      &:after {
        content: '▼';
        color: $gray;
        margin: 0 1rem;
      }
    }
    .twitterButton {
      display: inline-flex;
      align-items: center;
      border-radius: 4px;
      padding: 1rem;
      color: #ffffff;
      background: $twitter-color;
      text-decoration: none;
      font-weight: bold;
      span {
        margin-right: 0.4rem;
        margin-top: 2px;
        font-size: 2rem;
      }
    }
  }
}
.topImage {
  width: 100%;
  max-width: 124px;
  height: auto;
}
.ageLabel {
  margin-bottom: 1rem;
  font-weight: bold;
}
